@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CMCS.Web;
@model IEnumerable<CMCS.Web.Models.Claim>

@{
    ViewData["Title"] = "Claims";
}

<h1>Claims</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Claim</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Month</th>
            <th>Year</th>
            <th>Total</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ClaimId</td>
                <td>@item.PeriodMonth</td>
                <td>@item.PeriodYear</td>
                <td>@item.TotalAmount</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ClaimId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

